<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.system.springboot.mapper.UserMapper">
    <update id="update">
        update sys_user
        <set>
            <if test="username != null">
                username = #{username}
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="nickname != null">
                nickname = #{nickname},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="address != null">
                address = #{address}
            </if>
            <if test="sign != null">
                sign = #{sign}
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <resultMap id="pageUser" type="com.system.springboot.entity.User">
        <result column="id" property="id" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="create_time" property="createTime" />
        <result column="avatar_url" property="avatarUrl" />
        <result column="role" property="role" />
<!--        <collection property="health" javaType="java.util.ArrayList" ofType="com.system.springboot.entity.Health">-->
<!--            <result column="punch_date" property="punchDate" />-->
<!--            <result column="is_fever" property="isFever" />-->
<!--        </collection>-->
<!--        <collection property="stuCourses" javaType="java.util.ArrayList" ofType="com.system.springboot.entity.Health">-->
<!--            <result column="stuCourseName" property="name" />-->
<!--            <result column="stuScore" property="score" />-->
<!--        </collection>-->
    </resultMap>

    <select id="findPage" resultMap="pageUser">
--         select u.*,h.*
--         from sys_user u
--         left join stu_health h
--         on u.username = h.username
        SELECT u.*, COUNT(u.username) as num, h.is_fever,h.punch_date
        FROM sys_user u
        LEFT JOIN stu_health h ON u.username = h.username
--         WHERE u.username = 'admin'
        GROUP BY u.username, h.username
        ORDER BY u.id
        <where>
            <if test = "username != null and username !=''">
                and u.username like concat('%',#{username},'%')
            </if>
            <if test="address != null and address != ''">
                and u.address like concat('%', #{address} ,'%')
            </if>
            <if test="nickname != null and nickname != ''">
                and u.nickname like concat('%', #{nickname} ,'%')
            </if>
            <if test="email != null and email != ''">
                and u.email like concat('%', #{email} ,'%')
            </if>
            <if test="phone != null and phone != ''">
                and u.phone like concat('%', #{phone} ,'%')
            </if>
        </where>
    </select>

</mapper>